/* nunito-latin-400-normal */

@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/nunito@latest/latin-400-normal.woff2) format('woff2'), url(https://cdn.jsdelivr.net/fontsource/fonts/nunito@latest/latin-400-normal.woff) format('woff');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}

/* nunito-latin-600-normal */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/nunito@latest/latin-600-normal.woff2) format('woff2'), url(https://cdn.jsdelivr.net/fontsource/fonts/nunito@latest/latin-600-normal.woff) format('woff');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}

/* nunito-latin-900-normal */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-display: swap;
  font-weight: 900;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/nunito@latest/latin-900-normal.woff2) format('woff2'), url(https://cdn.jsdelivr.net/fontsource/fonts/nunito@latest/latin-900-normal.woff) format('woff');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}

/* nunito-cyrillic-400-normal */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/nunito@latest/cyrillic-400-normal.woff2) format('woff2'), url(https://cdn.jsdelivr.net/fontsource/fonts/nunito@latest/cyrillic-400-normal.woff) format('woff');
  unicode-range: U+0301,U+0400-045F,U+0490-0491,U+04B0-04B1,U+2116;
}

/* nunito-cyrillic-600-normal */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/nunito@latest/cyrillic-600-normal.woff2) format('woff2'), url(https://cdn.jsdelivr.net/fontsource/fonts/nunito@latest/cyrillic-600-normal.woff) format('woff');
  unicode-range: U+0301,U+0400-045F,U+0490-0491,U+04B0-04B1,U+2116;
}

/* nunito-cyrillic-900-normal */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-display: swap;
  font-weight: 900;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/nunito@latest/cyrillic-900-normal.woff2) format('woff2'), url(https://cdn.jsdelivr.net/fontsource/fonts/nunito@latest/cyrillic-900-normal.woff) format('woff');
  unicode-range: U+0301,U+0400-045F,U+0490-0491,U+04B0-04B1,U+2116;
}

/* russo-one-latin-400-normal */
@font-face {
  font-family: 'Russo One';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/russo-one@latest/latin-400-normal.woff2) format('woff2'), url(https://cdn.jsdelivr.net/fontsource/fonts/russo-one@latest/latin-400-normal.woff) format('woff');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}

/* russo-one-cyrillic-400-normal */
@font-face {
  font-family: 'Russo One';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/russo-one@latest/cyrillic-400-normal.woff2) format('woff2'), url(https://cdn.jsdelivr.net/fontsource/fonts/russo-one@latest/cyrillic-400-normal.woff) format('woff');
  unicode-range: U+0301,U+0400-045F,U+0490-0491,U+04B0-04B1,U+2116;
}

body {
  background: #0c122e;
}

h1 {
  font-size: 100px;
  line-height: 100px;
  text-wrap: balance;
  font-weight: 600;
  font-family: 'Nunito', sans-serif;
  color: #FBFFF1;
  text-shadow:  3px 3px 8px #684aff;
}

h2 {
  color: #FBFFF1;
  font-size: 60px;
  font-weight: 600;
  font-family: 'Nunito', sans-serif;
  text-shadow:  0 0 15px #684aff;
}

header {
  width: 100vw;
  height: 65px;
  position: fixed;
  top: 0px;
  left: 0px;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.5);
  background: #0c122e;
  z-index: 3;
}

header .oda-button-default {
  margin-left: 20px;
}

.header-container {
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;
}

a.oda-button-default {
  color: #B4C5E4;
  font-size: 20px;
  font-weight: 900;
  font-family: 'Nunito';
  &:hover {
    cursor: pointer;
  }
}

#telegram-button-container {
  margin-top: 100px;
  display: flex;
  justify-content: center;
}

a#telegram-button {
  color: #FBFFF1;
  font-size: 20px;
  font-weight: 900;
  font-family: 'Nunito';
  line-height: 20px;
  border: 1px solid rgb(104, 74, 255);
  padding: 8px 15px;
  border-radius: 20px;
  text-decoration: none;
  box-shadow: 0 0 4px 1px #0009;

  &:hover {
    cursor: pointer;
    transform: translateY(-2px);
  }
}

.slide {
  height: 70vh;
  display: flex;
  line-height: 0;
}

.slide.main {
  justify-content: center;
  flex-direction: column;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.slide.second {
  background: #FBFFF1;
}

.slide.third {
  background: #B4C5E4;
}

.slide.final {
  flex-direction: column;
  padding-top: 50px;
}

::-webkit-scrollbar {
    display: none;
}

:root {
  --first-slide-color: #0c122e;
  --second-slide-color: #FBFFF1;
  --third-slide-color: #B4C5E4;
}

.cards{
  margin-bottom: 50px;
}
.cards-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.card {
  width: 380px;
  height: 380px;
  color: #FBFFF1;
  box-shadow: 0 0 5px 1px rgba(104, 74, 255, 0.5);
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;

  &::after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 50px;
    background: rgba(0,0,0,0.65);
    z-index: 1;
  }

  & .card-header {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 40px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    color: #FBFFF1;
    text-shadow:  0 0 15px #0c122e;
    font-size: 35px;
    font-weight: 900;
    font-family: 'Russo One', sans-serif;
    text-wrap: balance;
    z-index: 2;
  }


  & .card-description {
    height: 100%;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    font-size: 22px;
    font-family: 'Nunito', sans-serif;
    text-wrap: balance;
    text-shadow:  0 0 3px #FBFFF1;
    padding-top: 10px;
    padding-left: 40px;
    padding-right: 40px;
    z-index: 2;
  }
}

#payment {
  background: url("https://i.imgur.com/y56UUN8.jpeg");
  background-size: cover;
}

#choice {
  background: url("https://i.imgur.com/sCQy9xf.jpg");
  background-size: cover;
}

#api {
  background: url("https://i.imgur.com/NaTdre5.jpeg");
  background-size: cover;
}

#how-to-start-title {
  text-align: center;
  margin-bottom: 100px;
  margin-top: 200px;
}

#settings {
  background: url("https://i.imgur.com/0rLetiF.png");
  background-size: cover;
}

#love {
  background: url("https://i.imgur.com/xHNRZXh.png");
  background-size: cover;
}

#platforms {
  background: url("https://i.imgur.com/qZUmpLV.jpeg");
  background-size: cover;
}

.how-to-start-step {
  font-size: 20px;
  font-family: 'Nunito', sans-serif;
  text-wrap: balance;
  text-shadow:  0 0 3px #FBFFF1;
  color: #FBFFF1;
  text-shadow:  0 0 5px #0c122e;
  text-wrap: balance;
  line-height: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 380px;
}

.step-number {
  font-size: 30px;
  font-family: 'Russo One', sans-serif;
  color: rgb(180, 197, 228);
  text-shadow:  0 0 5px #0c122e;
  margin-right: 20px;
  background-color: #0c122e;
  border-right: 2px solid rgb(180, 197, 228);
  padding: 15px 15px;
}

#how-to-start {
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: center;
  justify-content: center;
}

.news {
  padding-left: 10px;
  padding-right: 10px;
  max-width: 1200px;
  margin: 100px auto 0px auto;
}

.news-item {
  display: flex;
  flex-direction: column;
  border: 1px solid #2b3566;
  border-radius: 5px;
  box-shadow: 0 0 12px 3px #00000080;
  margin-bottom: 25px;
}

.news-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  margin-bottom: 10px;
}

.news-item-date {
  color: rgb(180, 197, 228);
  text-decoration: none;
  font-size: 24px;
  font-family: "Play";
  font-weight: normal;
  font-style: normal;
}

.news-item-title {
  color: rgb(251, 255, 241);
  text-decoration: none;
  font-size: 24px;
  font-family: "Play";
  font-weight: normal;
  font-style: normal;
}

.news-body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 15px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 15px;
  padding-bottom: 10px;
  background-color: #2b3566;
  border-top: 1px solid #684aff;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 0 -10px 10px 1px #00000080;
  color: #b4c5e4;
  font-size: 19px;
  -webkit-user-select: text;
  user-select: text;
}


.news-item-description {
  color: rgb(180, 197, 228);
  text-decoration: none;
  font-size: 24px;
  font-family: "Play";
  font-weight: normal;
  font-style: normal;
}

.news-item-demo img {
  width: 400px;
  border: 1px solid #684aff;
  border-radius: 5px;
  box-shadow: 0 0 12px 3px #00000080;
  margin-top: 5px;
}

@media (max-width: 900px) {
  h1 {
    font-size: 60px;
    line-height: 60px;
  }
  #how-to-start-title {
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  #how-to-start {
    flex-direction: column;
  }
  .how-to-start-step {
    width: 100%;
  }
  #step-description {
    flex: 1 1 auto;
  }
  .slide {
    height: unset;
    &.final{
      padding-top: 0px;
    }
    &.main {
      padding-bottom: 50px;
    }
  }
  #telegram-button-container {
    margin-top: 40px;
    padding-bottom: 70px;
  }
  .card {
    margin-bottom: 50px;
    width: 90%;
    & .card-header {
      width: 100%;
      padding-left: 0px;
      padding-right: 0px;
      text-align: center;
    }
    & .card-description {
      width: 100%;
      padding-left: 0px;
      padding-right: 0px;
      text-align: center;
    }
  }
  .cards-container {
    flex-direction: column!important;
  }
  .background {
    margin-bottom: 0px;
  }
  .background-holder {
    margin-top: 150px;
  }
}

